.login__container {
  height: 100vh;
  width: 100%;
  display: grid;
  grid-template-columns: 40% 1fr;
}
.login__left-section {
  height: 100%;
  width: 100%;
  background-color: #2196f3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.login__left-section img {
  max-width: 20%;
}
.login__right-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.login__form {
  width: 70%;
  padding: 0 1rem;
}
.login__title {
  font-family: "Roboto";
  font-size: 3rem;
  font-weight: 500;
}
.input-wrapper {
  margin: 1rem 0;
}
